/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@font-face {
  font-family: "Light";
  src: local("Ams"), url("./assets/fonts/AMS Aakul 1.ttf") format("truetype");
}
.logo-font {
  font-family: "Light", sans-serif;
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.bgcolor{
  background-color:#F1EFDD;
}
.textcolor{
  color:#9E080D;
  font-weight: 500;
}
/* Header2.css */
.textcolor::placeholder {
  color: #9E080D; /* Replace with your desired color */
}

.colorcustom{
  background-color: #9E080D;
  color: "white";
  font-weight: 500;
}
.colorcustom2{
  background-color: "white";
  color: #9E080D;
  font-weight: 500;
}